{% extends "base.html" %}

{% block content %}
     <main id="">
          <section class="name-title-container">
              <div class="dual">
                    <div class="dual__inner" id="rfx3">
                        <div class="dual__half"></div>
                    </div>
                    <div class="dual__content">
                        <h1 class="student-name">{{ name }}</h1>
                        <h2 class="student-title">Web Developer</h2>
                        <button id="rev-trigger-7" class="btn btn--trigger">
                            <a href="https://franciscoantualmonacid.pythonanywhere.com/contact">Get in touch</a>
                        </button>
                        <button id="rev-trigger-7" class="btn btn--trigger">
                            <a href="{{ url_for('get_cv_pdf') }}">Download CV</a>
                        </button>
                    </div>
                </div>
          </section>

          <div class="flexy flexy--center">
              <div class="linea-recta1"></div>
                <div class="flexy__items flexy__items--about">
                    <div class="content__text">
                        <h2 class="content__title content__title--center">
                            <div id="rfx4" class="content__title--small">I'm a 24 years old full-stack developer who has the objective of developing, testing, and maintaining personal and enterprise applications. </div><br />
                            <br>
                        </h2>
                    </div>
                 </div>
                <div id="experience"class="linea-recta"></div>
                 <section class="project-container">
                    {% for experience in experiences %}
                        <div class="project-card">
                            <a href="/project/{{ experience.id }}"> <!-- Enlace al detalle del proyecto -->
                                <img src="/static/{{ experience.image1_path }}" alt="{{ experience.title }}">
                                <h2>{{ experience.title }}</h2>
                                <p>{{ experience.description }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </section>

                 <div id="education" class="linea-recta"></div>
                 <section class="education-main-container">
                  <div class="section-header-main">
                      <h2 class="content__title content__title--center">
                        <div id="rfx1" class="content__title--left ">Education</div><br />
                    </h2>
                  </div>
                  <div  class="education-text-container">
                      <div class="content__text">
                        <h2 class="content__title content__title--center">
                            <div id="rfx4" class="content__title--small">
                                <div class="education-text">
                                      <p class="first-p">Welcome to my education section. Explore my academic journey to discover more about my background and qualifications.</p>
                                      <p class="second-p">Feel free to click <a href="https://franciscoantualmonacid.pythonanywhere.com/education">here</a> to learn more.</p>
                                </div>
                           </div><br />
                            <br>
                        </h2>
                    </div>
                  </div>
                  <div class="semicircle"></div>
               </section>
                <div class="linea-recta"></div>
               <div class="flexy__items flexy__items--whyworkwitchme">

                   <h2 class="content__title content__title--center">
                        <div id="rfx1" class="content__title--left--whywwm">So why work with me?</div><br />
                    </h2>
                    <div class="content__text">
                        <h2 class="content__title content__title--center">
                            <div id="rfx4" class="content__title--small">Ultimately, it is my dream to be part of a team where I can actively contribute to building what matters while learning and honing my skills.
                    I always want to learn more and do more. I'm also a firm believer that we should never settle and I understand the importance of reliability and performance in order to be agile and move quickly.</div><br />
                            <br>
                        </h2>
                    </div>
                </div>
               <div id="contact" class="linea-recta"></div>

              <section  class="contact-section">
                  <div class="contact-left">
                      <div class="flexy__items flexy__items--about">
                           <h2 class="content__title content__title--center">
                                <div id="rfx1" class="content__title--left ">Let's Chat</div><br />
                           </h2>
                           <div class="content__text">
                                <h2 class="content__title content__title--center">
                                    <div id="rfx4" class="content__title--small">
                                        <p><a href="https://franciscoantualmonacid.pythonanywhere.com/contact">Send me an email</a></p>
                                        <p>(franciscoantualmonacid@gmail.com)</p>
                                        <p>Alternatively connect with me on →</p>
                                    </div><br /><br>
                                </h2>
                            </div>
                     </div>
                  </div>
                  <div class="contact-right">
                     <div class="social-icons">
                       <a target="_blank" href="https://www.linkedin.com/in/francisco-almonacid-cammarata-543119267/" title="Follow on Linkedin"><img src="static/img/linkedin.png" alt="LinkedIn"></a>
                       <a target="_blank" href="https://github.com/antu2809" title="Follow on GitHub"><img src="static/img/github.png" alt="GitHub"></a>
                 </div>
              </section>
         </div>
    </main>
{% endblock %}

